// Primary colors
	// Blues
	$blue-1: #0f193b;
	$blue-2: #0a8cae;
	$blue-3: #435a85;

	// Oranges
	$orange-1: #f47d47;
	$orange-2: #d16a42;

	// Yellows
	$yellow-1: #f8d189;
	$yellow-2: #d3b484;

	// Basic
	$negro: #000;
	$blanco: #fff;
